exportPattern("^[[:alpha:]]+")
export(Guitar2Plot)
export(makeGuitarTxdb)
export(samplePoints)
import(GenomicRanges)
import(GenomicFeatures)
import(rtracklayer)
import(ggplot2)
import(dplyr)
import(AnnotationDbi)
importFrom("dplyr", "union")
importFrom("dplyr", intersect)
importFrom("dplyr", setdiff)
importFrom("AnnotationDbi", select)
importFrom("methods", "as")
importFrom("stats", "ave", "density", "quantile")
importFrom("utils", "read.table")


